:root {
    --repeat: 10;
}

#btn {
    display: block;
    margin: auto;
}

.container {
    margin: auto;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(var(--repeat), 1fr);
}

.grid {
    background-color: gray;
}

.color {
    background-color: black;
}